# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4475dfb18be31361e37e274dc653e398d92f7cb631fe1246f2941c59d1d0a830f81933f2707067f88bd494bc937b76d675c2a5cf3f416b74516eacd544377b9c

test:
  secret_key_base: 2d2d3d02211d935b602986b9003ac4f365c57d4cb50c848547f528efd166a85ec23dc9c7eb493de0241be9ed38d1efa0020bc97df172f3399ed6a6a6cfb4bfad

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
